@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700);
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --color-principal:#a88a68;
}
body{
   font-family: sans-serif;
    background-color:#f9f9f9 ;
    font-size: 16px;
}

.header, .footer{
    padding: 0.9em 0.6em;
    background-color: #fff;
}
.footer{
    margin-top: 5em;
}
.nosotros, .casas, .nuestros_clientes, .contacto{
    margin: 3em auto;
}
a{
    text-decoration: none;
}
h2{
    color: var(--color-principal);
    text-align: center;
    margin-bottom: 1em;
    font-size: 2.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif
}
/* header and nav */

header{
    position:sticky;
    background-color: #fff;
    top:0;
    height: 2.5rem;
    box-shadow: 0 4px 4px #71717136;
    justify-content: space-between;
    z-index: 3;
}
.nav{
    display: flex;
    justify-content: center;
    margin-right: 3.12em;
    align-items: center;
}

.nav{
    margin: auto;
}
.nav > a {
    font-size: 1.25em;
    padding: 0.6rem 0.3rem;
    color: var(--color-principal);
    border-style: dotted;
    border-radius: 0.3rem;
    border-color: #f9f9f9 ;
   /* color: #a76f08; */
}
.nav > a:hover {
    /* color: black; */
    /*   background-color: #a76f08; */
    border-style: dotted;
    border-color: var(--color-principal);
    
}

/* main */
.main{
    position: relative;
    height: 100vh;
    background: linear-gradient( 135deg,  rgba(3, 3, 3, 0.5)  0%, rgba(3, 3, 3, 0.5) 100% ), url("img/img-principal.jpeg") center no-repeat;
   /* filter: brightness(50%); */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Lobster', cursive;
}
.main .span{
    position: absolute;
    color:  var(--color-principal);
    font-size: 5vw;
    margin-top: 35vh;
    margin-left: 10vw;
}
.main .span2{
    position: absolute;
    color: #fff;
    font-size: 5vw;
    margin-top: 50vh;
    margin-left: 25vw;
}

/* Nosotros*/
.nosotros .row-nosotros{
    display: flex;
    flex-direction: row;
    width: 75%;
  	margin: auto;
  	margin-top: 0.6rem;  	
  	align-items: stretch;
  	align-content: stretch;
  	justify-content: center;  	
    flex-wrap: wrap;
    gap: 3vw;
}
.item-nosotros{
    padding: 0.9rem 0.3rem;
	font-size: smaller;	
    width: 25%;
	align-self: stretch;
    text-align: justify;
    border-style: solid;
    border-width: 1.8px;
}
.item-nosotros > .svg-nosotros, .item-nosotros > .texto-nosotros{
    margin-bottom: 0.5rem;
    text-align: center;
}
.svg-nosotros{
    color: #e08709;
    font-size: 7.5rem;
}
/* casaa*/
.casas .row-item-casas{
    display: flex;
	flex-direction: row;
	width: 80%;
  	margin: auto;
  	margin-top: 0.6rem;  	
    flex-wrap: wrap;
    gap: 3vw;
}
.item_casas{
    position: relative;
    text-align: center;
    width: 25%;
    padding-bottom: 0.3rem;
    width: 30%;
    align-self: stretch;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.img_casa >img{
    margin: 0rem;
    padding-top: 0rem;
    width: 100%;
    height: 20vw; 
}

.texto_casas{
    margin: 1rem 0.5rem;
    align-self: flex-start;
}
.texto_casas > p{
    margin: 1rem 1rem;
}
.texto_casas > span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #13ff07af;
    text-align: center;
    font-size: 2em;
}
.texto_casas > h3{
    font-size: 24px;
}
.button_casas{
    position: absolute;
    text-align: right;
    transition: all 200ms ease-out;
    opacity: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.button_casas > button{
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    border-style: solid;
    border-color: #e08709;
    background-color: #ffffff;
    font-size: 3.1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e08709;
}
.button_casas:hover{
    visibility: visible;
    opacity: 1;
}

/* nuestros clientes */

.nuestros_clientes{
    max-width: 25rem;
    text-align: center;
}
.buy {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.36);;
}

.clientes{
    border: 2px solid rgba(224, 134, 9, 0.5);  
    margin: auto;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*contacto*/
.contacto{
    background-image: url(img/img-contacto.jpg);
    background-position: center;
    height: auto;
    margin: 1em 5em;
    border-radius:15px;
    text-align: center;
}
.contacto h3{
    padding: 1rem;
    font-size: 3em;
    margin-top: 7%;
    color: #fff;
}

.contacto p{
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    font-size: 2.2em;
}

.contacto .button{
    margin-top: 9em;
}
.contacto .button button {
    font-family: Hack, monospace;
    background: rgb(255, 226, 95);
    cursor: pointer;
    border: 0;
	font-size: 2.5em;
	padding: 1.5rem;
    margin-bottom:1rem ;
    border-radius: 15px;
    max-width: 300px;
}

 .contacto .button button:hover {
	background: var(--color-principal);
	transition: all 0.5s;
	padding: 1.5rem 2rem 1.5rem 2rem;
	color: #fff;
}
/* Footer*/
.footer{
    height: 40px;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}


/* media querys */

@media screen and (min-width: 640px) and (max-width: 1200px) {
    .casas .row-item-casas{
        justify-content: center;
        width: 90%;
    }
    .main{
        height: 50vh;
    }
    .main .span{
        margin-top: 17vh;
    }
    .main .span2{
        margin-top: 22vh;
    } 
    .item_casas{
        width: 40%;
    } 
    .nosotros .row-nosotros{
        width: 90%;
    }
    .item-nosotros{
        width: 40%;
    }
    .img_casa > img{
        height: 30vw; 
    }
    .contacto{
        font-size: 10px;
    }
    .contacto .button{
        margin-top: 8em;
    }
    .contacto h3{
        overflow: hidden;
    }
    
}

@media screen and (max-width: 640px) {    

    .header, .footer {
    padding: 0.2em 0.6em;
    }
    .header{
        height: auto;
    }
    .nav > a {
        font-size: 1em;
    }
    .main{
        height: 70vh;
    }
    .main .span, .main .span2{
        text-align: center;
        margin-left: 0;
        font-size: 7vw;
    }    
    .main .span{
        margin-top: 30vh;
        color: #fff;
    }
    .main .span2{
        display: none;
    }
    .casas .row-item-casas{
        width: 80%;
        gap: 1rem;
    }

    .item_casas{
        width: 100%;
    }
    .nosotros .row-nosotros{
        justify-content: center;  	
    }
    .item-nosotros{
        width: 80%;
    }
    .img_casa >img{
        height: 70vw; 
    } 
    .contacto{
        font-size: 12px;
    }
    .contacto h3{
        display: none;
    }
    .contacto .button{
    margin-top: 7em;
    }
    .nuestros_clientes{
        width: 20rem;
    }

}